@import "stylus-reset"
reset()

// Palette is adrift in dream

$blue = #0B486B
$sail = #3B8686
$sea = #79BD9A
$foaming = #A8DBA8
$sunlit = #CFF09E

apply_spacing($margin = 16px)
  & > *
    margin-top: $margin
    &:first-child
      margin-top: 0

html, body
  padding: 0
  margin: 0
  font-size: 14px
  line-height: 18px

h1, h2, h3, h4, h5
  color: $blue


h3
  text-align: center
  padding: 16px


b, em, strong
  color: $blue
strong
  font-weight: 600

p, blockquote, h1, h2, h3, h4, h5, h6, .row, pre

  margin-top: 16px
  &:first-child
    margin-top: 0


blockquote
  background-color: $sunlit
  position: relative
  border-radius: 3px
  padding: 1em
  padding-left: 64px

  &::before
    position: absolute
    content: '⚠'
    font-size: 32px
    color: $sunlit - 80%
    display: block
    font-weight: bold
    left: 18px
    top: 50%
    transform: translateY(-50%)


ul
  li
    padding-left: 16px
    margin-top: 8px

    &::before
      content: '-'
      margin-right: 8px


code
  color: $blue
  background-color: alpha($blue, 5%)
  padding: 0 4px
  font-family: 'Source Code Pro', 'monaco', 'consolas', monospace
  border-radius: 3px


body
  font-family: 'Nunito', sans-serif


.container
  margin: 64px 0
  display: flex
  flex-direction: column
  align-items: center

  & > *
    width: 720px // will be redefined by most components


.row

  display: flex
  align-items: flex-start
  width: 1024px
  position: relative

  border-radius: 3px
  background-color: rgba(0, 0, 0, 0.07)
  padding: 16px 8px

  & + &
    margin-top: 32px

  & > *:nth-child(1)
    padding-right: 16px
    width: 420px
  & > *:nth-child(2)
    flex-grow: 1
    flex-basis: 0
    margin: 0

nav.tutorial
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  background-color: $sail

  & > a
    padding: 8px 0
    color: white
    text-decoration: none
    margin-left: 16px

    &:first-child
      margin-left: 0


$basecolor = $blue + 80%
$xml = $basecolor + 180deg

.container pre
  background-color: $basecolor - 90%
  border-radius: 3px
  padding: 8px
  overflow-x: auto
  code
    background-color: rgba(255, 255, 255, 0)
    padding: 0
    color: rgba(255, 255, 255, 0.80)

code
  .string
    color: $basecolor + 30deg
  .number, .literal
    color: $sunlit - 90deg

  .keyword
    color: $basecolor - 40%

  .tag > .string
    color: $xml + 40%
  .jsx
    color: alpha($xml, 0.65)
  .tag
    color: $xml
  .tag > .upper-start
    color: $xml - 40%

  .entity
    color: alpha($xml - 30deg, 0.65)
  .attribute
    color: $xml - 20%

  .type, .type > .string
    color: $basecolor + 60deg

  .function, .decorator, .function-call
    color: $basecolor

  .in-jsx > .function-call > .upper-start
    color: $basecolor - 30deg - 40%




  .toplevel.typescript
    color: rgba(255, 255, 255, 0.8)

  // .hljs-built_in
  // color: $blue

  .comment
    color: rgba(255, 255, 255, 0.3)
