// Palette is adrift in dream

$blue = #0B486B
$sail = #3B8686
$sea = #79BD9A
$foaming = #A8DBA8
$sunlit = #CFF09E

html, body
  padding: 0
  margin: 0

h1, h2, h3, h4, h5
  color: $blue

h3
  text-align: center
  padding: 2px 8px

b, em, strong
  color: $sail

code
  color: $sea
  font-family: 'monaco', 'consolas', monospace
  border-radius: 3px

body
  font-family: 'Nunito', sans-serif

.CodeMirror
  font-size: 14px
  height: auto !important
  border-radius: 3px
  flex-basis: 0
  flex-grow: 1

.container
  width: 1024px
  margin: 0 auto

.row
  display: flex
  align-items: flex-start
  margin-bottom: 48px

.row > *:nth-child(1)
  padding-right: 32px
  width: 420px

nav.tutorial
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  background-color: $sail

  & > a
    padding: 8px 0
    color: white
    text-decoration: none
    margin-left: 16px

    &:first-child
      margin-left: 0

.container pre
  background-color: darken($blue, 40%)
  border-radius: 3px
  padding: 8px
  width: 540px
  code
    color: rgba(255, 255, 255, 0.80)

.hljs-string
  color: $sunlit

.hljs-keyword
  color: $sail

.hljs-tag
  color: $foaming

// .hljs-built_in
// color: $blue

.hljs-comment
  color: rgba(255, 255, 255, 0.3)