// Palette is adrift in dream

$blue = #0B486B
$sail = #3B8686
$sea = #79BD9A
$foaming = #A8DBA8
$sunlit = #CFF09E

html, body
  padding: 0
  margin: 0

h1, h2, h3, h4, h5
  color: $blue

h3
  text-align: center
  padding: 2px 8px

b, em, strong
  color: $blue

code
  color: $blue
  background-color: $blue + 95%
  padding: 0 4px
  font-family: 'monaco', 'consolas', monospace
  border-radius: 3px

body
  font-family: 'Nunito', sans-serif

.CodeMirror
  font-size: 14px
  height: auto !important
  border-radius: 3px
  flex-basis: 0
  flex-grow: 1

.container
  max-width: 1024px
  margin: 0 auto

.row
  display: flex
  align-items: flex-start
  margin-bottom: 48px
  width: 100%

  & > *:nth-child(1)
    padding-right: 32px
    width: 420px
  & > *:nth-child(2)
    flex-grow: 1
    flex-basis: 0

nav.tutorial
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

  background-color: $sail

  & > a
    padding: 8px 0
    color: white
    text-decoration: none
    margin-left: 16px

    &:first-child
      margin-left: 0


$basecolor = $blue + 80%
$xml = $basecolor + 180deg

.container pre
  background-color: $basecolor - 90%
  border-radius: 3px
  padding: 8px
  width: auto
  overflow-x: auto
  code
    background-color: rgba(255, 255, 255, 0)
    padding: 0
    color: rgba(255, 255, 255, 0.80)

code
  .string
    color: $basecolor + 30deg
  .number, .literal
    color: $sunlit - 90deg

  .keyword
    color: $basecolor - 40%

  .tag > .string
    color: $xml + 40%
  .jsx
    color: alpha($xml, 0.65)
  .tag
    color: $xml
  .entity
    color: alpha($xml - 30deg, 0.65)
  .attribute
    color: $xml - 20%

  .type, .type > .string
    color: $basecolor + 60deg

  .function, .decorator, .function-call
    color: $basecolor


  .toplevel.typescript
    color: rgba(255, 255, 255, 0.8)

  // .hljs-built_in
  // color: $blue

  .comment
    color: rgba(255, 255, 255, 0.3)